html, body {
  margin: 0;
}

h1, h2, h3, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h5 {
 font-family: Raleway, sans-serif;
 font-weight: 100;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}


/*Header*/
.header {
  background-color: #ffa800;
}


/* Navigation */
/*clearfix allows you to see the black box */
.clearfix {
  clear: both;
}

.navigation {
    text-align: center;
    background-color: Black;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
    padding-left: 10px;
    float: left;
    text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
  color: white; 
  font-weight: 100;
  padding: 5px;
  margin-right: 50px;
  display: inline-block;
}

.navigation a:hover {
  background:#FF2A23;
  color:#000;
}

#user {
  float: right;
  padding-right: 10px;
}

#user form {
  display: inline-block;
  padding-left: 10px;
  padding-top: 5px;
}

#user p {
  color: white;
  display: inline-block;
}

/* Post */
.post{
  clear: both;
}
.post ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post li {
  padding: 0px 0px 5px 10px;  
}

.post li:hover {
  background: LightGrey;
  padding: 0px 0px 5px 10px;
}

.vote form {
  display: inline-block;
}
