extends layout.pug

block title
  title Welcome to Reddit Clone!!!

block header
  h1 Welcome to Reddit Clone!!!
  form(action= redditposturl, method="POST")
    input(type="hidden", name="home", value="1")
    button(type="submit") Home
  
block content
  h2 Create a Post:
  form(action="/createPost", method="POST")
    div
      p Post URL: 
      input(type="text", name="url", placeholder="Enter a URL to content")
    div
      p Post Title:
      input(type="text", name="title", placeholder="Enter the title of your content")
    button(type="submit") Create!