extends layout.pug

block title
  title Welcome to Reddit Clone!!!

block content
  h1 Reddit Clone Login
  form(action="/login", method="POST")
    div
      p username: 
      input(type="text", name="username", placeholder="username")
    div
      p password:
      input(type="password", name="password", placeholder="password")
    button(type="submit") Submit